@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    background-color: #FFFFFF;
    font-family: "DM Sans";
}
.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo-uzcar{
    width: 106px;
    height: 47px;
    margin-right: 80px;
}
.menu{
    padding-top: 23px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}
.link-cabecalho{
    display: block;
    text-decoration: none;
    color: #000000;
    font-size: 22px;
    font-weight: 500;
    line-height: 100%;
    margin-right: 63px;
}
.configs{
    display: flex;
    align-items: center;
}
.num-telefone{
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    margin-right: 40px;
    justify-content: flex-end;
}
.icone{
    margin-right: 20px;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #F5F5F5;
    width: 100%;
    max-width: 1281px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    box-sizing: border-box; 
}
.hero-direita{
    margin-top: 95px;
}
.hero-esquerda{
    width: 628px;
    height: 297px;
    margin-left: 42px;
}
.titulo-hero{
    font-weight: 700;
    font-size: 41px;
    text-decoration: none;
    color: #000000;
}
.subtitulo-hero{
    font-weight: 400;
    font-size: 28px;
    color: #000000;
    margin-top: 10px;
}
.form-hero{
    margin-top: 30px;
    display: flex;
    align-items: center;
}
.campo-form{
    width: 422px;
    height: 58px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: #F5F5F5;
}
.campo-form::placeholder {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 17px;
}
.botao-form{
    width: 75px;
    height: 58px;
    border-radius: 8px;
    border: 0px;
    background-color: #4200FFCC;
    margin-left: 15px;
    cursor: pointer;
}
.produtos-gerais{
    width: 1280px;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
}
.item-gerais{
    width: 400px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1.5px solid #F2F2F2;
    border-radius: 5px;
    cursor: pointer;
}
.foto-gerais{
    width: 142px;
    margin-right: 34px;
}
.titulo-gerais{
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
}
.subtitulo-gerais{
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    font-size: 14px;
}
.menu-compras{
    width: 1274px;
    height: 804px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    flex-direction: column;
}
.menu-lateral{
    width: 380px;
    height: 732px;
    background-color: #F7F7F7;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.abas{
    margin-left: 11px;
    width: 358px;
    height: 76px;
    border-radius: 5px;
    display: flex;
    align-items: center; 
    cursor: pointer;
}
.icone-aba{
    width: 36px;
    height: 36px;
    margin-right: 28px;
}
.texto-abas{
    gap: 169px;
    font-size: 22px;
    font-weight: 500;
    line-height: 20px;
    align-content: flex-start ;
}
.abas:hover {
    background-color: #4200FF;
    color: white;
    
}
.setas{
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 31px;
    font-size: 32px;
}
.anuncio{
    width: 278px;
    height: 356px;
    border-radius: 5px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    margin-left: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
.foto-anuncio{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F7F7F7;
    width: 278px;
    height: 229px;
}
.texto-anuncio{
    font-size: 17px;
    font-weight: 500;
    line-height: 100%;
    width: 222px;
    height: 44px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.baixo{
    display: flex;
    margin-top: 20px;
    gap: 83px;
    align-items: center;
    justify-content: center;
}
.valor{
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 500;
    color: #4200FF;
}
.setebarra{
    font-weight: 700;
    font-size: 36px;
    width: 142px;
    margin-left: 43px;
}
.banner{
    width: 1280px;
    height: 358px;
    background-color: #F7F7F7;
    border-radius: 5px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-esquerda{
    width: 530px;
    height: 198px;
    margin-left: 40px;
}
.texto-banner{
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 40px;
}
.botao-banner{
    width: 253px;
    height: 64px;
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: #F7F7F7;
    font-weight: 400;
    font-size: 28px;
    cursor: pointer;
}
.mais-vendidos{
    width: 1280px;
    height: 428px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}
.texto-vendidos{
    width: 1280px;
    height: 42px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.produtos-anuncio{
    width: 1280px;
    height: 356px;
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.produtos-vendidos{
    font-weight: 500;
    font-size: 32px;
}
.ver-todos{
    font-weight: 400;
    font-size: 28px;
    cursor: pointer;
}
.marcas{
    width: 1308px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}
.texto-marcas{
    margin-top: 80px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 1280px;
}
.txt-marcas{
    font-weight: 500;
    font-size: 32px;
}
.nome-marcas{
    width: 305px;
    height: 180px;
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 22px;
    margin-bottom: 24px;
}
.titulo-marca{
    font-weight: 700;
    font-size: 32px;
}
.logomarcas{
    display: flex;
    flex-wrap: wrap;
}
.rodape{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: auto;
    height: 311px;
    margin-top: 120px   ;
    background-color: #2F2F2F;
    
}
.texto-rodape{
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    color: white;
    margin-top: 28px;
}
.logo-redes{
    margin-top: 28px;
}
.logo{
    margin-top: 30px;
}
.links{
    margin-top: 30px;
}
.contatos{
    margin-top: 30px;
}
.redes-sociais{
    margin-top: 30px;
    cursor: pointer;
}
.navegacao{
    margin-left: auto;
    margin-right: auto;
    width: 1280px;
    display: flex;
    justify-content: flex-end;
}
.seta-nav{
    width: 32px;
    height: 32px;
    border-radius: 5px;
    opacity: 0.5;
    background-color: #919EAB;
    border: none;
    font-size: 14px;
    font-weight: 700;
}
.num-nav{
    width: 32px;
    height: 32px;
    border-radius: 5px;
    border: 1px solid #DFE3E8;
    font-weight: 700;
    font-size: 14px;
    background-color: white;
}
.avan-nav{
    width: 32px;
    height: 32px;
    border-radius: 5px;
    border: 1px solid #DFE3E8;
    font-weight: 700;
    font-size: 14px;
    background-color: white;
    color: #C4CDD5;
}